/TerraMystica/Library
/TerraMystica/Temp
/TerraMystica/Assembly-CSharp.csproj
/TerraMystica/HexMap.sln
/TerraMystica/Assets/HexMapToolGenerator
TerraMystica/Assets/HexMapToolGenerator.meta
TerraMystica/Assembly-CSharp-Editor.csproj
